/* SAP OVERWRITE */
.sapFDynamicPageContent {
    padding: 0px 0px 0px 0px !important;
}

.sapFDynamicPageContentFitContainer {
    padding: 0px 0px 0px 0px !important;
}

/* .sapMCrslControls {
  visibility: hidden !important;
} */

/* Custom CSS */

.tabbedBar .sapMITBHead{
    text-align:center;
}

.circularImage {
  border-radius: 50%; /* Or a value like 100px */
  object-fit: cover; /* Ensures the image covers the circular area */
}

.clickableCard {
  cursor: pointer;
  transition: transform 0.15s ease;
}

.clickableCard:hover {
  transform: translateY(-2px);
}

/* Stato base */
.coloredCustomListItem {
    background-color: #f0eab8;
}

/* Hover */
.coloredCustomListItem.sapMLIBHoverable:hover {
    background-color: #ebe4a6;
}

/* Active (click / press) */
.coloredCustomListItem.sapMLIBActive {
    background-color: #f0eab8;
}

/* Selected */
.coloredCustomListItem.sapMLIBSelected {
    background-color: #f0eab8;
}

/* Selected + Hover */
.coloredCustomListItem.sapMLIBSelected.sapMLIBHoverable:hover {
    background-color: #f0eab8;
}