/* SAP OVERWRITE */
.sapFDynamicPageContent {
    padding: 0px 0px 0px 0px !important;
}

.sapFDynamicPageContentFitContainer {
    padding: 0px 0px 0px 0px !important;
}

/* .sapMCrslControls {
  visibility: hidden !important;
} */

/* Custom CSS */
.cardGrid > *:last-child {
    grid-column: auto;
}

/* Desktop */
@media (min-width: 1025px) {
    .cardGrid > *:last-child {
        grid-column: 1 / -1;
    }
}

.tabbedBar .sapMITBHead{
    text-align:center;
}

.circularImage {
  border-radius: 50%; 
  object-fit: cover; 
}

.clickableCard {
  cursor: pointer;
  transition: transform 0.15s ease;
}

.clickableCard:hover {
  transform: translateY(-2px);
}

.coloredCustomListItem {
    background-color: #f0eab8;
}

.coloredCustomListItem.sapMLIBHoverable:hover {
    background-color: #ebe4a6;
}

.coloredCustomListItem.sapMLIBActive {
    background-color: #f0eab8;
}

.coloredCustomListItem.sapMLIBSelected {
    background-color: #f0eab8;
}

.coloredCustomListItem.sapMLIBSelected.sapMLIBHoverable:hover {
    background-color: #f0eab8;
}