/* SAP OVERWRITE */

/* Custom CSS */
.cardGrid > *:last-child {
    grid-column: auto;
}

/* Desktop */
@media (min-width: 1025px) {
    .cardGrid > *:last-child {
        grid-column: 1 / -1;
    }
}

.tabbedBar .sapMITBHead{
    text-align:center;
}

.circularImage {
  border-radius: 25%; 
  object-fit: cover; 
}

.clickableCard {
  cursor: pointer;
  transition: transform 0.15s ease;
}

.clickableCard:hover {
  transform: translateY(-2px);
}

[data-customListItemClass="coloredListItem"] {
    background-color: var(--sapContent_Illustrative_Color18) !important;
}

[data-customListItemClass="coloredListItem"] .sapMLIBHoverable:hover {
    background-color: var(--sapContent_Illustrative_Color19) !important;
}

[data-customListItemClass="coloredListItem"] .sapMLIBActive {
    background-color: var(--sapContent_Illustrative_Color18) !important;
}

[data-customListItemClass="coloredListItem"] .sapMLIBSelected {
    background-color: var(--sapContent_Illustrative_Color18) !important;
}

[data-customListItemClass="coloredListItem"] .sapMLIBSelected .sapMLIBHoverable:hover {
    background-color: var(--sapContent_Illustrative_Color18) !important;
}